# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Docker
.env
*.log
docker-compose.override.yml

# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temp
tmp/
*.tmp

# Secrets
**/secrets/
*.pem
*.key

# Build context copies of SSH keys
midpoint/ssh/
asterisk/ssh/
